@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.navBar {
    display: flex;
    width: 1100px;
    list-style-type: none;
    justify-content: space-evenly;
}

.header-outer-container {
    display: flex;
    justify-content: space-around;
    width: 1268px;
    background-color: var(--rood);
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.inner-container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;

}
