@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

:root {
  --rood: #dd3038;
  --oranje: #e7613a;
  --licht-oranje: #FDF4F2;
  --zwart: #292929;
  --wit: #FFFFFF;
}
